/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
}
html,
body {
    height: 100%;
}
button {
    border: none;
    padding: 0;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.link {
    text-decoration: none;
    color: var(--primary-text-color);
}
/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* Свойства для обнуления курсива у address */

address {
    font-style: normal;
    line-height: 1.7;
}
:root {
    /* Text colors */
    --primary-text-color: #212121;
    --sec-text-color: #757575;
    --logo-top: #000000;
    --accent-color: #2196f3;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    /* Background colors */
    --primary-white-color: #ffffff;
    --primary-bg-color: #f5f5f5;
    --sec-bg-color: #f5f4fa;
    --footer-bg-color: #2f303a;
}
body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.03em;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
}

/* HEADER */
/* Logo */
.site-header {
    display: flex;
    align-items: center;
}
.logo {
    color: var(--primary-white-color);
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo.site-logo {
    display: flex;
    color: var(--logo-top);
}
.logo.accent {
    color: var(--accent-color);
}

/* Site nav */
.site-main {
    display: flex;
    align-items: center;
    margin-left: 93px;
}
.site-nav {
    display: flex;
}
.site-nav .item + .item,
.site-contacts .item + .item {
    margin-left: 50px;
}
.site-contacts {
    display: flex;
    margin-left: auto;
}
.cont {
    display: block;
    color: var(--sec-text-color);
}
.site-nav .link,
.site-contacts .link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}
.link:hover,
.link:focus,
.cont:hover,
.addr:hover {
    color: var(--accent-color);
}
.current {
    color: var(--accent-color);
}

/* MAIN */
/* Bigblock */
.main {
    flex: 1 1 auto;
}
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 94px;
    text-align: center;
    text-align: center;
    background-color: var(--footer-bg-color);
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn {
    text-align: center;
    padding: 10px 32px;
    min-width: 216px;
    border: 1px solid transparent;
    border-radius: 4px;

    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
}
.btn:hover,
.btn:focus {
    background-color: var(--sec-bg-color);
    color: var(--primary-text-color);
}

/* Pluses */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.pluses {
}
.pluses-list {
    display: flex;
}
.pluses-item {
    margin-right: 30px;
}
.pluses-heading {
}
.pluses-title {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.15;
}
.pluses-subtitle {
    color: var(--sec-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 0;
}

/* Activities */
.section:nth-child(2n) {
    background-color: var(--sec-bg-color);
}
.activities {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}
.heading {
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.activities-list {
    display: flex;
}
.activities-elem {
    margin-right: 30px;
}

/* Team */
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}
.team-list {
    display: flex;
}
.team-elem {
    width: 270px;
    margin-right: 30px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.inner-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team-subtitle {
    color: var(--sec-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 0.8;
    margin-bottom: 0;
}
.team-img {
}

/* FILTER */

.button {
    min-width: 73px;
    padding: 10px 32px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--sec-bg-color);
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
.filter {
    padding-top: 94px;
    padding-bottom: 50px;
}
.filter-list {
    display: flex;
    justify-content: center;
}
.filter-item {
    display: flex;
    margin-right: 8px;
}
/* GALLEREY */
.gallery {
}
.gallery-portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
}
.gallery-elem {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.gallery-elem:nth-child(3n) {
    margin-right: 0;
}
.gallery-elem:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.gallery-elem img {
}
.container-border {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px 20px;
}
.gallery-title {
    margin-bottom: 4px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.gallery-subtitle {
    color: var(--sec-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}

/* FOOTER */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bg-color);
}
.bottom-logo {
    display: block;
    margin-bottom: 20px;
}
.address {
}
.location {
    display: block;
    color: var(--primary-white-color);
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 9px;
}
.addr {
    color: var(--footer-contacts-color);
    text-decoration: none;
}
.footer-elem:not(:last-child) {
    margin-bottom: 9px;
}
